*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Rinnet;
    src: url('../font/rinnet-regular.otf');
}

h1{
    font-family: 'Rinnet';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}

h2{
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 10px;
}

h3{
    margin-bottom: 10px;
    font-family: 'Rinnet', 'Times New Roman';
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
}

p{
    font-family: 'Roboto', 'Times New Roman';
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #3F2A2D;
    margin-bottom: 20px;
}

a{
    font-family: 'Rinnet';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
}

.button{
    margin-bottom: 10px;
    text-align: center;
}

/* Menu Button */

.hamburger{
    position:relative;
    display:block;
    width:30px;
    cursor:pointer;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:none;
    outline:none;
    border:none;
    z-index: 99;
}

.hamburger .bar,.hamburger:after,.hamburger:before{
    content:'';
    display:block;
    width:100%;
    height:3px;
    background-color:#000;
    margin:4px 0px 0px 10px;
    -webkit-transition:0.4s;
    transition:0.4s;
}

.hamburger.is-active:before{
    -webkit-transform:rotate(-45deg) translate(-8px, 6px);
    transform:rotate(-45deg) translate(-8px, 6px)
}

.hamburger.is-active:after{
    -webkit-transform:rotate(45deg) translate(-4px, -2px);
    transform:rotate(45deg) translate(-4px, -2px);
}

.hamburger.is-active .bar{
    opacity:0
}

#Menu{
    padding: 20px 0px;
}

#MenuDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#MenuDivImg{
    width: 85px; 
    height: 66px;
}

#MenuDivImg img{
    width: 100%;
}

#up-menu{
    display: none;
}

.sub_menu_button{
    cursor: pointer;
}

.Sub_Menu_item{
    padding-left: 20px;
    font-size: 15px;
    font: 'Rinnet';
    display: none;  
    text-decoration: none;
}

@keyframes example {
    0% {color: #F8E2F6; left: 200px; top: 0px;}
    50% {color: #000000; left: 200px; top: 200px;}
}

.Sub_Menu_item li{
    list-style-type:none;
}

.Sub_Menu_item a{
    animation: example;
    animation-duration: 1s;
    display: none;
    text-decoration: none;
}

.Sub_Menu_item1 a{
    animation: example;
    animation-duration: 3s;
}

.Sub_Menu_item2 a{
    animation: example;
    animation-duration: 5s;
}

.Sub_Menu_item3 a{
    animation: example;
    animation-duration: 8s;
}

/* Side Navigation Menu */

.mobile-nav{
    position:fixed;
    top:0;
    right:100%;
    width:100%;
    height: 100%;
    min-height:100vh;
    display:block;
    z-index:98;
    background-color:#F8E2F6;
    padding-top:120px;
    -webkit-transition:0.4s;
    transition:0.4s
}

.mobile_nav_List li{
    list-style-type:none;
    text-decoration: none;
}

.mobile-nav.is-active{
    right:0;
}

.mobile-nav a{
    display:flex;
    justify-content: space-between;
    margin:20px;
    text-align:left;
    color:#000000;
    text-decoration:none;
    border-bottom: 2px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
}

.mobile-nav a:hover{
    color: #FFFFFF;
    background-color: #f0d2ee ;
}

.mobile-nav-sign-up{
    display: flex;
    flex-direction: row;
    width: max-content;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Header Section */

.container{
    padding: 0px 10px 20px 10px;
    margin: 0px;
}

.Main_Banner{
    display: flex;
    padding: 10px 10px 0px 10px;
    justify-content: center;
    background-color: #F8E2F6;
    margin-bottom: 20px;
}

.Main_Banner h2{
    font-size: 12px;
    letter-spacing: 0.07em;
    font-family: 'Rinnet';
}

#Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: white;
    height: max-content;
}

#FollowDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#FollowDiv img{
    border: 2px solid #F8E2F6;
    padding: 2px;
    border-radius: 50%;
}

#SignUpDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SignUp_Person{
    border: 2px solid #000;
    border-top: 0px;
    border-bottom: 0px;
    padding: 0px 10px;
}

.SignUp_Cart{
    margin-left: 10px;
    background-color: #F8E2F6;
    border-radius: 50%;
    padding: 6px;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_container2{
    display: flex;
    justify-content: right;
}

.nav_signup{
    border: 2px solid #000000;
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding: 0px 10px;
}

.nav_cart{
    padding: 0px 10px;   
}

.nav_logo{
    width: 75px;
    height: 100%;
}

.nav_follow{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 5px 5px;
    margin-left: 10px;
}

.nav_follow_a{
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
}

.nav_a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_follow h2{
    margin: 0px;
    padding: 0px 10px 0px 0px;
}

.nav_follow h2:hover{
    color: #FFFFFF;
}

.nav_follow a{
    text-decoration: none !important;
    border: none;
    margin: 0px;
    padding: 0px;   
}

/* Container 1 Section */

.love_cups{
    background-color: #F8E2F6;
    height: max-content;
}

.love_cups_data{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 0px;
}

.love_cups_data_img{
    width: 100%; 
    height: 30px;
}

.love_cups_data_img img{
    width: 100%; 
    height: 100%;
}

.love_cups_img{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.love_cups_img_div{
    display: flex;
    width: 100%;
}

.love_cups_img1{
    position: relative;
    width: 100%;
    height: 100%;
}

.love_cups_img1 img{
    width: 100%;
    height: 100%;
}

.love_cups_img2 img{
    width: 100%;
    height: 100%;
}

.love_cups_img2{
    position: relative;
    width: 100%;
    height: 100%;
}

.love_cups_img a{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
    margin: auto;
    width: max-content;
    height: max-content;
    font-weight: 100;
    font-size: 10px;
    background-color: #FFFFFF;
    padding: 5px 10px;
    font-family:'Crimson Pro', 'Times New Roman';
    margin-bottom: 20px;
}

/* Container 2 Section */

.cupping_ease{
    padding-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
    background-color: #F8E2F6;
}

.cupping_ease h2{
    font-size: 18px;
    font-family: 'Rinnet';
}

.cupping_ease p{
    font-size: 15px;
    padding: 0px 12px;
}

.cupping_ease_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.cupping_ease_data_Tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cupping_ease_data_Tags_Div1{
    width: 25%;
}

.cupping_ease_data_Tags_Div1 p{
    padding: 2px;
}

.cupping_ease_image{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.cupping_ease_image img{
    width: 50px;
    height: 100%;
}
   
.cupping_ease_data_a{
    width: 350px;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    border: none;
    background-color: rgb(0, 0, 0);
    padding: 10px 10px;
    color: #FFFFFF;
    font-family:'Crimson Pro', 'Times New Roman';
}

.cupping_ease_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.cupping_ease_img img{
    width: 100%;
}

/* Container 4 Section */

.modern_fun{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:#F8E2F6;
    margin-bottom: 20px;
}

.modern_fun_data{
    display: flex;
    flex-direction: column;
}

.modern_fun_a{
    width: 300px;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    border: none;
    background-color: rgb(0, 0, 0);
    padding: 10px 12px;
    font-family:'Crimson Pro', 'Times New Roman';
    color: #FFFFFF;
}

.modern_fun_data h2{
    font-size: 20px;
    font-family: 'Rinnet';
    line-height: 30px;
}

.modern_fun_data p{
    font-size: 12px;
}

.modern_fun_img{
    width: 100%;
    margin-bottom: 20px;
}

.modern_fun_img img{
    width: 100%;
}

/* Container 5 Section */

.instagram_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0px 10px 10px 10px;
}

.instagram_data h2{
    font-family: 'Rinnet';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 3.85714px;
    text-transform: uppercase;
}

.instagram_data h3{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 2.41071px;
    margin-bottom: 20px;
}

.instagram_data img{
    width:"60dp"; 
    height:"60dp";
    margin-bottom: 10px;
}

.instagramBtn{
    margin-bottom: 10px;
    text-align: center;
}
.instagramBtn_a{
    background-color: #408BD1;
    padding: 10px 20px;
    max-width: 135px;
    max-height: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}


.instagram_a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.instagram_image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
    height: max-content;
    margin-bottom: 20px;
}

.instagram_section{
    position: relative;
    width: 33.3%;
}

.instagram_image img{
    width: 100%;
}

.instagram_image img:hover{
    opacity: 0.5;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:  #F8E2F6;
}
  
.instagram_section:hover .overlay {
    opacity: 0.7;
}

.instagram_icon {
    color: #000000;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.instagram_img {
    width: 100%;
    height: auto;
}

/* Footer Section */

.footer_Main_Img{
    width:100%;
    height:5px;
}

.footer_Main_Img img{
    width:100%;
    height:100%;
}

.footer_Main_Div2_Section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer_Main_Div2_Section1_Div1{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer_Main_Div2_Section1_Div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer_Main_Div2_Section1_Div2 a{
    color: #000;
}

.footer_a{
    border-color: #F8E2F6;
    width: 25px;
    height: 25px;
    margin: 0px 2px 10px 0px;
    padding: 2px 0px 0px 0px;
}

.footer_Main h2{
    margin: 0px 5px 10px 0px;
    padding: 0px;
    font-size: 12px;
    font-family: 'Rinnet';
    line-height: 12px;
    letter-spacing: 2.57143px;
}

.footer_Main_Div2_Section1_Div2_Img{
    width: 20px;
    border: 2px solid #F8E2F6;
    padding: 2px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer_Main_Div2_Section1_Div2_Img img{
    width: 100%;
    height: 100%;
}

.footer_Main_Div3{
    margin-bottom: 20px;
}

.footer_li li{
    list-style-type: none;
}

.footer_Main_Div3 ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: 'Rinnet', 'Times New Roman';
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.07em;
}

.footer_Main_Div3 a{
    color: #6A6A6A;
    text-align: left;
    font-size: 10px;
    font-family: 'Roboto';
}

.footer_Main_Div3 h2{
    text-align: left;
    font-size: 15px;
}

.footer_Main_Div4 h2{
    text-align: left;
    font-size: 15px;
}

.footer_Main_Div4 p{
    text-align: left;
    font-size: 12px;
    width: 200px;
}

.footer_Main_Div4{
    margin-bottom: 10px;
}

.footer_Main_Div4 button{
    width: 123.75px;
    height: 38.76px;
    font-weight: 100;
    font-size: small;
    background-color: transparent;
    border-width: 1px;
    border-color:#F8E2F6 ;
    padding: 1% 2%;
    font-family:'Rinnet', 'Times New Roman';
    margin-bottom: 20px;
}

.Form_Button{
    width: 123.75px;
    height: 38.76px;
    font-weight: 100;
    font-size: small;
    background-color: transparent;
    border-width: 1px;
    border-color:#F8E2F6 ;
    padding: 1% 2%;
    font-family:'Rinnet', 'Times New Roman';
    margin-bottom: 20px;
    line-height: 13px;
    letter-spacing: 2.08929px;
}


.Form_Input{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.803571px solid #DDDDDD;
    border-radius: 0px;
    width: 204.91px;
    height: 35.36px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.footer_bottom{
    padding-top: 10px;
    border-top: 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #EDEDED;
}

.footer_bottom h3{
    font-size: 15px;
    text-align: left;
    font-family: 'Roboto';
}

.footer_bottom li{
    list-style-type: none;
}

.footer_bottom ul{
    display: flex;
    flex-direction: column;
    font-family: 'Rinnet', 'Times New Roman';
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.07em;
    margin-bottom: 20px;
}

.footer_bottom a{
    color: #6A6A6A;
    font-size: 10px;
    font-family: 'Roboto';
    margin-right: 8px;
}

.footer_bottom_Image{
    display: flex;
    flex-wrap: wrap;
}

/* Twitter Profile Slider Section  */

.twiter_profile{
    padding: 0px 20px;
}
.twiter_ProfileImage{
    max-width: 85px;
    margin: auto;
    height: 80px;   
    margin-bottom: 10px;
    padding: 2px;
}

.twiter img{   
    width:100%;
    height:100%;
}

.twiter{

    height: max-content;
}

.twiter a{
    color: #1C1B1B;
    font-size: 12px;
    font-family: 'Roboto';
}

.twiter h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12.8571px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #1C1B1B;
}

.twiter p{
    font-size: 22px;
    font-family: 'Rinnet';
    line-height: 32px;
    color: #1C1B1B;
    padding: 0rem 2rem;
}

.twiter_button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 9.64286px;
    text-align: center;
    border-radius: 8.03571px;
    border: 0;
    padding: 7px 8px;    
    color: #FFFFFF;
    background-color: #55ADFF;
}

.button a{
    color: #FFFFFF;
    padding: 10px 20px;
}

.shopIt_slider .slick-dots{
    margin-bottom: 20px;
}

.slick-dots li{
    margin: 0px 0px 10px 0px !important;
} 

.slick-list{
    margin-bottom: 20px;
}

.slick-dotted.slick-slider{
    margin: 0px !important;
}

.twiter_Image{
    margin-bottom: 20px;
    width: 100%;
    height: 5px;
}

.twiter_Image img{
    width: 100%;
    height: 100%;
}

/* Shop It Slider Section */

.shopIt_slider{
    margin-bottom: 20px;
}

.card1{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card{
    margin-bottom: 10px;
}

.shopIt_card{
    position: relative;
    display: flex;
    height: max-content;
    flex-direction: column;
    padding: 20px 0px 0px 0px;
    background-color: #884C83;
}

.shopIt_card svg{
    margin-bottom: 10px;
}

.shopIt_card_button{
    width: 274px;
    height: 36px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-weight: 400;
    font-size: 12;
    text-transform: uppercase;
    padding: 5px 10px;
    font-family:'Rinnet' , 'Times New Roman';
    margin-bottom: 20px; 
}

.card1 p{
    font-size: 15px;
    color: #FFFFFF;
    font-size: 'Rinnet';
    margin-bottom: 10px !important;
}

.shopIt_card a{
    color: #FFFFFF;
    font-size: 10px;
    padding: 10px 15px;
    font-family: 'Roboto';
}

/* Responsive Part */

@media (min-width: 374.98px){

    #Header{
        display: none;
    }
}

@media (min-width: 767.98px){

    #Header{
        display: flex;
        margin: 0px;
    } 
    #Menu{
        padding: 20px 0px 0px 0px;
    }
    #Menu a{
        color: #000;
        font-size: 10px;
        line-height: 17px;
        letter-spacing: 1.57143px;
        text-transform: uppercase;
        margin-right: 20px;
    }
    #Menu ul{
        display: flex;
        flex-direction: row;
    }

    #Menu li{
        list-style-type: none;
    }

    .header_nav{
        display: none;
    }

    #FollowDiv{
        margin-bottom: 2rem;
    }

    #FollowDiv h2{
        margin: 0px 10px 0px 0px ;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 2.57143px;
    }
    .nav_follow_a{
        border: 2px solid #F8E2F6;
    } 
    .nav_follow_a a{
        color: #000;
    }
    #SignUpDiv{
        margin-bottom: 2rem;
    }
    #SignUpDiv h2{
        margin: 0px 10px 0px 0px;
        font-size: 12px;
        font-family: 'Rinnet';
        font-size: 9.64286px;
        line-height: 12px;
        letter-spacing: 2.57143px;
    }

    .love_cups{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    .love_cups_data{
        width: 40%;
        padding: 0px 30px;
    }
    .love_cups_data h1{
        text-align: left;
    }
    .love_cups_img{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        height: 400px;
        padding: 0px;
        margin: 0px;
    }
    .love_cups_img1{
        height: auto;
        margin-right: 2px;
    }
    .love_cups_img2{
        height: auto;
        margin-left: 2px;
    }
    .love_cups_img a{
        padding: 5px 10px;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 1.064px;
    }

    .cupping_ease p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
        padding: 0px;
        letter-spacing: 1.064px;
        text-align: left;
    }
    .cupping_ease_data_Tags_Div1 p{
        text-align: center;
    }
    .cupping_ease{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
    }
    .cupping_ease h2 {
        font-size: 33px;
        line-height: 40px;
        margin-bottom: 10px;
        letter-spacing: 1.064px;
        text-align: left;
    }
    .cupping_ease_data{
        padding: 20px 8px 0px 8px;
    }
    .cupping_ease_data_a{
        font-size: 18px;
        padding: 10px 70px;
        font-family: 'Crimson Pro';
        line-height: 24px;
        letter-spacing: 1.064px;
        text-transform: uppercase;
    }
    .cupping_ease .container{
        width: 50%;
        height: inherit;
    }
    .cupping_ease_img{
        width: 50%;
        margin: 0px;
        padding: 0px;
    }
    .cupping_ease_img img{
        height: 400px;
    }
    .cupping_ease_data_Tags{
        flex-wrap: nowrap;
    }

    .card1 p{
        font-size: 20px;
        padding: 10px 10rem 10px 10rem;

    }
    .card1 h3{
        height: 30px;
        padding: 10px;
        margin-bottom: 30px;
    }
    .card1 a{
        font-size: 20px;
    }

    .twiter p{
        padding: 0rem 5rem;
    }

    .modern_fun{
        display: flex;
        flex-direction: row;
    }
    .modern_fun_img{
        width: 50%;
        padding: 0px;
        margin: 0px;
    }
    .modern_fun_img img{
        height: 400px;
    }
    .modern_fun_data{
        padding: 10px 18px;
    }
    .modern_fun_data h2{
        font-size: 33px;
        line-height: 40px;
        margin-bottom: 10px;
        letter-spacing: 1.064px;
        text-align: left;
    }
    .modern_fun_data p{
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
        letter-spacing: 1.064px;
        text-align: left;
    }
    .modern_fun_data a{
        font-size: 18px;
        font-family: 'Crimson Pro';
        line-height: 24px;
        padding: 10px 70px;
    }
    .modern_fun .container{
        width: 50%;
        padding-top:20px;
    }

    .instagram_image{
        flex-wrap: nowrap;
    }

    .footer_bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer_Main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer_Main_Div2{
        width: 40%;
    }
    .footer_Main_Div2_Section1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    }
    .footer_Main_Img{
        margin-bottom: 20px;
    }
    .footer_h3{
        display: none;
    }
    .footer_bottom_1{
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: 50%;
    }
    .footer_bottom_1 h3{
        font-size: 12px;
        margin-right: 10px;
        margin-bottom: 0px;
    }
    .footer_bottom ul{
        flex-direction: row;
        margin: 0px;
    }
    .footer_bottom_Image img{
        width: 25px;
        height: 20px;
        margin-right: 5px;
    }
    .twiter_profile{
        padding: 0px 50px;
    }
}
@media (min-width: 991.98px){
    
    #Menu a {
        letter-spacing: 2.57143px;
    }
    .love_cups_data{
        width: 40%;
        padding: 0px 50px;
    }
    .love_cups_data h1{
        font-size: 24px;
        text-align: left;
    }
    .love_cups_img{
        height: 450px;
    }
    .love_cups_img a{
        padding: 7px 12px;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 1.064px;
    }
    .twiter p{
        padding: 0rem 10rem;
    }
    .twiter_profile{
        padding: 0px 100px;
    }
    .cupping_ease_data_a {
        padding: 10px 8rem;
    }
    .modern_fun_data a{
        padding: 10px 8rem;
    }
    .card1 p {
        padding: 10px 15rem 10px 15rem;
    }
}
@media (min-width: 1199.98px){
    #Header{
        padding: 0px 50px;
    }
    .Main_Banner h2 {
        font-size: 18px;
        letter-spacing: 0.10em;
        font-family: 'Rinnet';
        padding: 5px;
    }
    #FollowDiv h2 {
        font-size: 18px;
        letter-spacing: 2.57143px;
        text-transform: uppercase;
    }
    #SignUpDiv h2{
        font-size: 18px;
        letter-spacing: 2.57143px;
    }
    #MenuDivImg {
        width: 120px;
        height: 120px;
    }
    #Menu a {
        font-size: 18px;
        line-height: 17px;
        letter-spacing: 1.57143px;
        text-transform: uppercase;
        margin-right: 30px;
    }
    #Header{
        margin-bottom: 20px;
    }
    #MenuDiv{
        padding-top: 10px;
    }
    #SignUpDiv , #FollowDiv{
        margin-bottom: 4rem;
    }
    .love_cups_data{
        padding: 0px 45px;
    }
    .love_cups_data h1{
        font-size: 33px;
        line-height: 40px;
        letter-spacing: 1.064px;
        margin-bottom: 20px;   
    }
    
    .love_cups_img1 {
        height: auto;
        margin-right: 5px;
    }
    .love_cups_img2 {
        height: auto;
        margin-left: 5px;
    }
    .love_cups_img{
        height: 620px;
    }
    .love_cups_img a{
        padding: 10px 30px;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 1.064px;
    }
    .cupping_ease_img img {
        height: 470px;
    }
    .cupping_ease_data {
        padding: 60px;
    }
    .modern_fun_img img{
        height: 470px;
    }
    .modern_fun_data {
        padding: 10px 70px;
    }
    .twiter p {
        padding: 0rem 18rem;
    }
    .twiter_profile{
        padding: 0px 120px;
    }
    .card1 p {
        padding: 10px 20rem 10px 20rem;
        font-size: 25px;
    }
    .shopIt_card{
        height: 400px;
    }
    .shopIt_slider .slick-dots {
        margin-bottom: 50px;
    }
    .container_svg{
        padding-top: 50px;
    }
    
}
@media (min-width: 1439.98px){
    .cupping_ease_data_a {
        padding: 10px 11.5rem;
    }
    .modern_fun_data a {
        padding: 10px 11.5rem;
    }
    .footer_Main h2{
        font-size: 20px;
        line-height: 12px;
        letter-spacing: 3px;
    }
    .footer_Main_Div3 a{
        font-size: 15px;
        letter-spacing: 1px;
    }
    .footer_Main_Div4 p{
        font-size: 15px;
    }
    .footer{
        padding: 10px 5rem;
    }
    .twiter_profile{
        padding: 0px 200px;
    }
}

#hide-btn{
    background-color: transparent;
    border-radius: 0px;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
}
